*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #563870;
}

.box{
    width: 800px;
    text-align: center;
    background-color: #E3F000;
    color: #534F9B;
    border-radius: 20px;
    margin: 200px auto;
}

.title{
    padding: 15px 0;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.item{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
}